.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.card__like-btn {
  background-image: url(../images/spots-images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}
