.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.card__like-btn {
  background-image: url(../images/spots-images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
