.footer {
  margin: auto;
  padding: 60px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121b2;
}

.footer__credit {
  margin: 0;
}
