.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/spots-images/Property\ 1=Default.svg);
  background-position: center;
  opacity: 40%;
  border: none;
}

.modal__close-btn:hover {
  background-image: url(../images/spots-images/Property\ 1=Variant2.svg);
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 110.00000000000001%;
  color: #212121b2;
  max-width: 700px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  border-radius: 8px;
  border-color: #21212166;
}

.modal__input::placeholder {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #2121214d;
}

.modal__submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
}
