.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  margin-top: auto;
}

.profile__add-btn {
  margin-left: auto;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
